/* reset */
:root{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#calc-body {
  display: grid;
  width: 400px;
  height: 35vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
}

#display-text {
  align-self: flex-end;
}

#clear {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#equal {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}